
/* Flex */

.flex {
display: flex;
}

.flex-row {
flex-direction: row;
}

.flex-col {
flex-direction: column;
}

.items-start {
align-items: flex-start;
}

.items-end {
align-items: flex-end;
}

.items-center {
align-items: center;
}

.self-start {
align-self: flex-start;
}

.self-end {
align-self: flex-end;
}

.self-center {
align-self: center;
}

.justify-start {
justify-content: flex-start;
}

.justify-end {
justify-content: flex-end;
}

.justify-center {
justify-content: center;
}

.justify-between {
justify-content: space-between;
}

.justify-around {
justify-content: space-around;
}

/* elements */

html {
  font-family: sans-serif;
  height: 100%;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  background-color: white;
  margin: 0;
  min-height: 100%;
}

.landing-page-header {
  z-index: 15;
  position: absolute;
  left: 0;
  right: 0;
}

.logo {
  height: 1.818rem;
  width: 7.5rem
}

.hero-section-wrapper {
  background-color: white;
  background-image: url('./Images/bigCircle.svg');
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  position: relative;
  height: 100vh;
}

.headline {
  width: 36rem;
  /* height: 10.5rem; */
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.4px;
}

.sub-headline {
  width: 30rem;
  /* height: 4rem; */
  font-size: 1.25rem;
}

.steps {
  font-size: 1.25rem;
  font-weight: 600;
}

.steps-under-line {
  width: 30rem;
  height: 0.2rem;
  background-color: #dbe4e8;
}

.hero-section-ellipse {
  width: 6.18rem;
  left: 0%;
  top: 2%;
}

.hero-section-image {
  width: 48rem;
}

.early-bird-text {
  width: 15rem; 
  height: 1.625rem
}

.how-it-works-section__heading, .use-cases-section__heading {
  font-size: 2.25rem;
  height: 2.563rem;
  font-weight: bold;
}

.how-it-works-section__content {
  justify-content: space-around;
}

.how-it-works-section__img {
  width: 12.5rem;
}

.how-it-works-section__sub-heading {
  width: 18.375rem;
  height: 1.125rem;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
}

.how-it-works-section__description {
  width: 20rem;
  font-size: 1rem;
  line-height: 1.2;
  margin-top: 0.625rem;
  margin-bottom: 5rem;
  text-align: justify;
}

.use-cases-section__wrapper {
  margin-top: 5rem;
  margin-bottom: 2.5rem;
}

.use-cases-blue-line {
  width: 3rem;
  height: 0.313rem;
  background-color: #2f98d0;
}

.use-cases-section__sub-heading {
  height: 2.938rem;
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1.43;
  letter-spacing: 0.56px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.use-cases-section__description {
  width: 25rem;
  font-size: 1.125rem;
  text-align: justify;
  margin-top: 0;
  margin-bottom: 0;
}

.use-cases-section__img {
  height: 14rem;
}

.tree-section {
  height: 12.375rem;
}

.tree {
  height: 15.125rem;
}

.join-10fold-section-content {
  background-color: #f7fbfd;
}

.join-10fold-section__heading {
  height: 3.5rem;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.56;
  letter-spacing: 0.72px;
}

.join-10fold-section__text {
  width: 35.125rem;
  height: 4.313rem;
  font-size: 1.25rem;
  letter-spacing: 0.4px;
  text-align: center;
}

.footer {
  height: 7.5rem;
}

.footer-link {
  height: 1rem;
  font-size: 0.875rem;
  color: #161B1D;
  margin-right: 2rem;
  text-decoration: none;
}

.footer-copyright {
  color: #4c5d67;
  margin-right: 1rem;
}

.footer-vertical-line {
  width: 0.063rem;
  height: 1.5rem;
  background-color: #a1b1ba;
}

.footer-mobile-number {
  color: #4c5d67;
  margin-left: 1rem;
  margin-right: 0;
}

.footer-right {
  justify-content: flex-end;
}

.no-view {
  display: none;
}

/* Color */

.bg-primary-100 {
  --bg-opacity: 1;
  background-color: #F7FBFD;
}

.bg-white {
  background-color: white;
}

.primary-600 {
  --text-opacity: 1;
  color: #287FAE;
}

.primary-700 {
  --text-opacity: 1;
  color: #216A91;
}

.grey-700 {
  --text-opacity: 1;
  color: #4C5D67;
}

.grey-800 {
  --text-opacity: 1;
  color: #303b41;
}

.grey-900 {
  --text-opacity: 1;
  color: #161B1D;
}

/* Extra */

.cursor-pointer, [type="submit"] {
  cursor: pointer;
  outline: none;
}

.h-full {
  height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  outline: none;
}

.is-relative {
  position: relative;
}

.is-absolute {
  position: absolute;
}

/* fonts */

.text-0-875 {
  font-size: 0.875rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

/* margin */

.m-0 {
  margin: 0;
}

.ml-1-5 {
  margin-left: 1.5rem;
}

.ml-2-5 {
  margin-left: 2.5rem;
}

.ml-7-5 {
  margin-left: 7.5rem;
}

.ml-4 {
  margin-left: 4rem;
}

.ml-12-5  {
  margin-left: 12.5rem;
}

.ml-15  {
  margin-left: 15rem;
}

.ml-auto {
  margin-left: auto;
}

.mt-0-25 {
  margin-top: 0.25rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-1-5 {
  margin-top: 1.5rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-2-5 {
  margin-top: 2.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-3-5 {
  margin-top: 3.5rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-4-5 {
  margin-top: 4.5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-6-75 {
  margin-top: 6.75rem;
}

.mt-7-5 {
  margin-top: 7.5rem;
}

.mt-auto {
  margin-top: auto;
}

.mr-2-5 {
  margin-right: 2.5rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mr-7-5 {
  margin-right: 7.5rem;
}

.mr-12-5  {
  margin-right: 12.5rem;
}

.mr-15  {
  margin-right: 15rem;
}

.mr-auto {
  margin-right: auto;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-1-5 {
  margin-bottom: 1.5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-2-5 {
  margin-bottom: 2.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.ml-0-75 {
  margin-left: 0.75rem;
  margin-right: 0.75rem
}

.mlr-7-5 {
  margin-right: 7.5rem;
  margin-left: 7.5rem;
}

.mlr-22-5 {
  margin-right: 22.5rem;
  margin-left: 22.5rem;
}

/* padding */

.pb-2-5 {
  padding-bottom: 2.5rem;
}

/* Float */

.float-right {
  float: right;
}

.float-left {
  float: left;
}

/* buttons */

.signup-form {
  position: relative;
  width: 20rem;
  height: 3rem;
  margin: 0;
}

.signup-form input {
  box-sizing: border-box;
  position: absolute;
  height: 3rem;
  border: solid 1px #2F98D0;
  font-size: 0.875rem;
  appearance: none;
}

.signup-form input[type="number"] {
  width: 60%;
  color: #303b41;
  padding: 0.75rem 0 0.75rem 1rem;
  border-radius: 5px 0 0 5px;
}

.signup-form input[type="submit"] {
  right: 0;
  width: 40%;
  border-radius: 0 5px 5px 0;
  background-color: #2F98D0;
  color: white;
}

.signup-form input[type="submit"]:hover {
  background-color: #2a88bb;
}

.req-demo-btn input[type="submit"] {
  width: 8rem;
  height: 3rem;
  border-radius: 5px;
  border: 0px;
  background-color:#25a75d;
  font-size: 0.875rem;
  color: white;
}

.req-demo-btn input[type="submit"]:hover {
  background-color: #209251;
}

.signup-btn input[type="submit"] {
  background-color:#2f98d0;
}

.signup-btn input[type="submit"]:hover {
  background-color:#2a88bb;
}

.login-button {
  width: 6.5rem;
  height: 2.889rem;
  border-radius: 25px;
  border: solid 1px #eaf5fa;
  background-color: #eaf5fa;
  margin-right: 7.5rem;
}

.login-button:hover{
  border: solid 1px #c1e0f1;
  background-color: #c1e0f1;
}

/* media queries */

@media only screen and (max-width: 1366px), (max-device-width: 1366px) {

  .hero-section-wrapper {
    background-color: white;
    background-image: url('./Images/bigCircle.svg');
    background-position: 40% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    position: relative;
    height: 100vh;
  }

  .hero-section-ellipse {
    left: 3%;
    top: -2%;
  }

  .hero-section-image {
    width: 42rem;
  }

  .headline {
    margin-top: 5rem;
  }

  .how-it-works-section__content {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 1280px), (max-device-width: 1280px) {

  html {
    font-size: 14px;
  }

  .logo {
    margin-left: 4rem;
  }

  .login-button {
    margin-right: 4rem;
  }

  .how-it-works-section__content {
    justify-content: space-between;
    margin-right: 20rem;
    margin-left: 20rem;
  }

  .hero-section-wrapper {
    background-position: 40% 100%;
  }

  .headline {
    width: 32rem;
  }

  .hero-section-image {
    width: 36rem;
    right: 0;
  }

  .m-4-1024px {
    margin-right: 4rem;
    margin-left: 4rem;
  }

  .hero-section-ellipse {
    width: 6rem;
    left: -3%;
    top: 6%;
  }

  .how-it-works-section__content {
    margin-right: 16rem;
    margin-left: 16rem;
  }

  .join-10fold-section__text {
    height: auto;
  }

  .footer-ml-1024px {
    margin-left: 0rem;
  }

  .footer-mr-1024px {
    margin-right: 1.5rem;
  }

  .footer-link {
    margin-right: 1rem;
  }
  
}

@media only screen and (max-width: 480px), (max-device-width: 480px) {
  .flex-xs-row {
    flex-direction: row;
  }

  .flex-xs-col {
    flex-direction: column;
  }

  .justify-left-xs {
    justify-content: left;
  }

  .my-neg-5-xs {
    margin-top: -5%;
  }

  .no-view-xs {
    display: none;
  }

  .view-xs {
    display: block;
  }

  .m-xs {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .p-xs {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .hero-section-wrapper {
    background-color: white;
    background-image: url('./Images/bigCircle.svg');
    background-position: 50% 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
    position: relative;
    height: 100vh;
  }

  .logo {
    margin-left: 2rem;
  }

  .login-button {
    margin-right: 2rem;
  }

  .headline {
    width: auto;
    height: auto;
  }

  .sub-headline {
    width: auto;
    height: auto;
    margin-top: 5%;
  }

  .early-bird-text {
    width: auto; 
    height: 1.625rem;
    text-align: left;
    margin-top: 1rem;
  }

  .req-demo-btn input[type="submit"] {
    width: 9rem; 
    height: 3rem;
    border-radius: 5px;
    border: 0px;
    background-color:#25a75d;
    font-size: 0.875rem;
    color: white;
  }

  .signup-form-xs input[type="submit"] {
    right: 0;
    width: 9rem; 
    height: 3rem;
    border-radius: 5px;
    border: 0px;
    background-color: #2F98D0;
    color: white;
  }

  .how-it-works-section__content {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    justify-content: center;
  }

  .how-it-works-section__sub-heading {
    width: 25rem;
    height: auto;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
  }

  .how-it-works-section__description {
    width: 25rem;
    text-align: left;
  }

  .use-cases-section__img {
    margin-bottom: 4rem;
  }

  .join-10fold-section__text {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .footer-mobile-number {
    margin-right: 2rem;
  }
  
}

@media only screen and (max-width: 420px), (max-device-width: 420px) {

  /* xs css */

  .no-view-400px {
    display: none;
  }

  .justify-center-xxs {
    justify-content: center;
  }

  .early-bird-text {
    text-align: center;
  }

  .steps-under-line {
    width: auto;
  }

  .hero-section-wrapper {
    background-color: white;
    background-image: url('./Images/bigCircle.svg');
    background-position: 50% 110%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
    position: relative;
    height: 100vh;
  }

  .m-xs {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .how-it-works-section__sub-heading, 
  .how-it-works-section__description {
    width: auto;
  }

  .use-cases-section__sub-heading,
  .use-cases-section__description,
  .use-cases-section__wrapper {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: auto;
  }

  .use-cases-blue-line {
    margin-left: 1.5rem;
  }

  .headline {
    text-align: center;
  }

  .sub-headline {
    text-align: center;
  }
}

@media only screen and (max-width: 320px), (max-device-width: 320px) {

  html {
    font-size: 12px;
  }

}